<!-- Bootstrap Footer -->
<footer class="container-fluid py-1 mt-auto">
    <p class="text-center">&copy; 2021 &middot; Arek M Engstrom &middot; <a href="mailto:engstrar@oregonstate.edu"
            target="_blank">Contact</a>
    </p>

</footer>