<!-- Bootstrap Footer -->
<footer class="container-fluid py-1 mt-auto">
    <p class="text-center">&copy; 2021 &middot; BrewBros Inc. &middot; <a href="/dbcon"> Check Database Connection</a>
    </p>

</footer>