<!-- 
    Utilizing the Google Maps API to embed a map with pinned locations.
    Source:https://developers.google.com/maps/documentation/embed/get-started 
-->

<div class="iframe-container text-center">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Q7cugf5iD4621ncKqz3IhmBkhVmjHifx"></iframe>
</div>