<!-- Bootstrap Navbar-->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark py-0" id="mainNavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="img/logo.png" alt="logo" style="max-height: 100px;"></a>
        <button id="collapseButton" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/breweries">BREWERIES</a>
                <a class="nav-link" href="/taphouses">TAP HOUSES</a>
                <a class="nav-link" href="/specialties">SPECIALTIES</a>
                <a class="nav-link" href="/cities">CITIES</a>
                <a class="nav-link" href="/brew_special">FIND YOUR DRINK</a>
            </div>
        </div>
    </div>
</nav>