<% layout("layouts/boilerplate")%>

    <h1 class="display-6 text-center">
        <%= title%>
    </h1>

    <div class="container-lg text-center text-muted">
        Explore and learn more about each <%= title%> below!
    </div>
    <div class="row pt-3">
        <div class="container-fluid col-6">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Brooklyn_Bridge_Manhattan.jpg/1280px-Brooklyn_Bridge_Manhattan.jpg"
                    class="card-img-top" alt="Brooklyn Bridge">
                <div class="card-body">
                    <h5 class="card-title">Brooklyn Bridge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/details?wonder=Brooklyn_Bridge" class="btn btn-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="container-fluid col-6">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Brooklyn_Bridge_Manhattan.jpg/1280px-Brooklyn_Bridge_Manhattan.jpg"
                    class="card-img-top" alt="Brooklyn Bridge">
                <div class="card-body">
                    <h5 class="card-title">Brooklyn Bridge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href=#" class="btn btn-secondary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="container-fluid col-6">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Brooklyn_Bridge_Manhattan.jpg/1280px-Brooklyn_Bridge_Manhattan.jpg"
                    class="card-img-top" alt="Brooklyn Bridge">
                <div class="card-body">
                    <h5 class="card-title">Brooklyn Bridge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/details?wonder=Brooklyn_Bridge" class="btn btn-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="container-fluid col-6">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Brooklyn_Bridge_Manhattan.jpg/1280px-Brooklyn_Bridge_Manhattan.jpg"
                    class="card-img-top" alt="Brooklyn Bridge">
                <div class="card-body">
                    <h5 class="card-title">Brooklyn Bridge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href=#" class="btn btn-secondary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="container-fluid col-6">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Brooklyn_Bridge_Manhattan.jpg/1280px-Brooklyn_Bridge_Manhattan.jpg"
                    class="card-img-top" alt="Brooklyn Bridge">
                <div class="card-body">
                    <h5 class="card-title">Brooklyn Bridge</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="/details?wonder=Brooklyn_Bridge" class="btn btn-secondary">Learn More</a>
                </div>
            </div>
        </div>
    </div>