<% layout("layouts/boilerplate")%>

    <h1 class="display-6 text-center">WORLDLY WONDERS</h1>

    <div class="container-lg text-center">
        Welcome to Worldly Wonders! Interact with the map below or use the navigation bar to learn more about all of the
        different Wonders of the
        World!
    </div>
    <br>
    <div class="container-fluid">
        <%- include("./partials/map") %>
    </div>