<% layout("layouts/boilerplate")%>

    <h1 class="display-6 text-center">WORLDLY WONDERS</h1>

    <div class="container-lg text-center">
        <p class="lead">
            Interact with the map below or use the navigation bar to learn more about all of the different Wonders of
            the World!
        </p>

    </div>
    <br>
    <div class="container-fluid text-center">
        <h6>
            Map Legend
        </h6>
        <p class="text-muted">
            <img src="img/modernWorld.png" alt="Wonders of the Modern World Key" style="max-width: 30px;"> = Modern
            World
            <img src="img/industrialWorld.png" alt="Wonders of the Industrial World Key" style="max-width: 30px;"> =
            Industrial
            World
            <img src="img/ancientWorld.png" alt="Wonders of the Ancient World Key" style="max-width: 30px;"> = Ancient
            World
            <img src="img/naturalWorld.png" alt="Wonders of the Natural World Key" style="max-width: 30px;"> = Natural
            World
        </p>

    </div>
    <div class="container-fluid">
        <%- include("./partials/map") %>
    </div>