<% layout("layouts/boilerplate")%>

    <h1 class="display-6 text-center">DATABASE OF OREGON BREWERIES</h1>

    <div class="container-lg text-center">
        <p>Oregon currently has over 300 craft breweries. With 9.6 breweries per 100,000 adults aged 21 and older,
            visitors to the state have a lot of options when it comes to sampling local brews. When visiting the
            state to sample some of these craft options you may feel overwhelmed with the number of choices. This
            database aims to provide a convenient way to find new breweries for you to try on your next trip to Oregon.
        </p>
    </div>

    <figure class="figure">
        <img src="img/mtHood.jpg" class="figure-img img-fluid rounded" alt="Mount Hood and Lost Lake">
        <figcaption class="figure-caption text-end">MICHAL BALADA / SHUTTERSTOCK</figcaption>
    </figure>